.wrap.fixed{
	position:fixed;
	width:100%;
	height:100%;
	top:0;
	left:0;
	font-size:14px;
	a:focus{
		outline:none;
	}
	.content{

	}
	.page-header{
		border:0;
		margin:0;
		padding:0;
	}
	.main{
		position:absolute;
		left:0;
		bottom:0;
		width:100%;
		height:100%;
	}
	.desktop-home{
		background:url(../images/index-bg.png) no-repeat 15% center/ cover;
		position:absolute;
		left:0;
		bottom:0;
		width:100%;
		height:100%;
		.logo{
			width:percentage(945/3000);
			margin-top: percentage(58/1880);
			margin-left: percentage(520/1450);
			top:0;
			left:0;
			img{
				width:100%;
			}
		}
		nav{
			position:absolute;
			left:0;
			bottom:0;
			width:100%;
			height:100%;
			a{
				display: block;
				bottom:0;
				left:0;
				img{
					position:absolute;
					top:0;
					left:0;
					width:100%;
					&.hover{
						position:relative;
						transition-duration: 0.25s;
						opacity:0;
					}
				}
				&:hover .hover{
					opacity:inherit;
				}
			}
			a.more{
				position:absolute;
				margin-bottom:percentage(75/2400);
				margin-left:percentage(144/1600);
				width:percentage(560/2400);
			}
			a.pickme{
				position:absolute;
				margin-bottom:percentage(55/2400);
				margin-left:percentage(1000/1600);
				width:percentage(560/2400);
				.qrcode{
					top:0;
					left:0;
					position:absolute;
					margin-top:percentage(-268/560);
					margin-left:percentage(350/1600);
					width:percentage(343/560);
					img{
						width:100%;
					}
				}
			}
		}
	}
	.mobile-home{
		background:url(../images/mobile/home-bg.png) no-repeat center top/ cover;
		position:absolute;
		left:0;
		bottom:0;
		width:100%;
		height:100%;
		&.list{
			overflow:auto;
			.copy{
				position:relative;
			}
		}
		nav{
			display: block;
			width:percentage(780/800);
			position:relative;
			height:0;
			padding-top: percentage(140/800);
			max-height: 0;
			margin: percentage(20/800) 0 0 percentage(20/800);
			background:url(../images/mobile/nav.png) no-repeat right top/ percentage(780/800) auto;
			ul{
				display: block;
				position:absolute;
				margin:0;
				padding:0;
				width:100%;
				top:0;
				letter-spacing: -1em;
				text-align: right;
				li{
					display: inline-block;
					h1{
						margin: 0;
						font-size: 1em;
						position:absolute;
					}
					a{
						text-align: left;
						letter-spacing: -1px;
						display: block;
						text-indent: -999em;
						height: 1px;
						// &:hover{
						// 	background:rgba(0,0,0,0.1);
						// }
					}
					&:nth-child(1){
						width:percentage(276/800);
						a{
							padding-top:percentage(130/276);
						}
					}
					&:nth-child(2){
						width:percentage(148/800);
						a{
							padding-top:percentage(85/148);
						}
					}
					&:nth-child(3){
						width:percentage(230/800);
						a{
							padding-top:percentage(85/230);
						}
					}
					&:nth-child(4){
						width:percentage(130/800);
						a{
							padding-top:percentage(85/130);
						}
					}
				}
			}
		}
	}
	.slick{
		margin:0;
		padding:0;
		li{
			width: 100%;
			position:relative;
		}
		&.loading:after {
		    background: rgba(0, 0, 0, 0.4) url(../images/ajax-loader.gif) no-repeat scroll center center /40px 40px;
		    content: " ";
		    height: 100%;
		    left: 0;
		    position: fixed;
		    top: 0;
		    width: 100%;
		}
		.home{
			h2{
				margin:percentage(109/800) 0 0 percentage(204/800);
				width: percentage(503/800);
				img{
					width:100%;
				}
			}
			a{
				display: block;
				bottom:0;
				left:0;
				img{
					position:absolute;
					top:0;
					left:0;
					width:100%;
					&.hover{
						transition-duration: 0.25s;
						opacity:0;
					}
				}
				&:hover .hover{
					opacity:inherit;
				}
			}
			a.star{
				position:absolute;
				margin-bottom:percentage(260/800);
				margin-left:percentage(57/800);
				width:percentage(419/800);
				padding-top:percentage(195/800);
				.fb-hint{
				    margin-top: -2.9em;
				    transform: rotateZ(7deg);
				}
			}
			a.fan{
				position:absolute;
				margin-bottom:percentage(56/800);
				margin-left:percentage(204/800);
				width:percentage(414/800);
				padding-top:percentage(195/800);
			}
		}
		.download-app-tutorial{
			.center{
				background:url(../images/mobile/shape.png) no-repeat 0 0/100% auto;
				width: percentage(660/800);
				position:relative;
				margin:20% auto 1em;
				padding-top:1px;
				padding-bottom:percentage(50/800);
				border-top:2px solid #d20613;
				border-bottom :2px solid #d20613;
				h3{
					position:absolute;
					width: 100%;
					margin:percentage(-120/660) auto percentage(60/660);
					text-align: center;
					img{
						display: inline-block;
						width: percentage(260/660);
					}
				}
				>a{
					position:relative;
					text-indent: -999em;
					display: block;
					width: percentage(520/800);
					height: 0;
					padding-top:percentage(300/800);
					margin:percentage(50/800) 0 0 percentage(90/800);
					img{
						height:100%;
						position:absolute;
						top:0;
					}
				}
			}
			.buttons{
				background:url(../images/mobile/download-app-tutorial-bg.png) no-repeat center top/ cover;
				top:0;
				left:0;
				margin:percentage(40/660) 0 0 0;
				width:100%;
				height: 0;
				padding-top:percentage(836/660);
				position:absolute;
				.google-play{
					position:absolute;
					top:0;
					left:0;
					margin:percentage(361/660) 0 0 percentage(352/660);
					width:percentage(194/660);
					img{
						width: 100%;
					}
				}
				.app-store{
					position:absolute;
					top:0;
					left:0;
					margin:percentage(450/660) 0 0 percentage(352/660);
					width:percentage(108/660);
					img{
						width: 100%;
					}
				}
				.goto-upload{
					position:absolute;
					margin:0 0 percentage(64/660) percentage(60/660);
					bottom:0;
					left:0;
					width:percentage(563/660);
					padding-bottom:percentage(173/660);
					img{
						position:absolute;
						top:0;
						left:0;
						width:100%;
						&.hover{
							position:absolute;
							transition-duration: 0.25s;
							opacity:0;
						}
					}
					&:hover .hover{
						opacity:inherit;
					}
				}
			}
		}
		.upload-video{
			padding-top: percentage(75/880);
			.center{
				background:url(../images/mobile/download-app-tutorial-bg.png) no-repeat center top/ cover;
				margin:0 auto;
				width:percentage(660/880);
				height: 0;
				padding-top:percentage(836/880);
				position:relative;
			}
		}
		.term{
			background:url(../images/mobile/term.png) no-repeat 0 0/100% auto;
			a.star{
				position:absolute;
				margin-bottom:percentage(55/800);
				margin-left:percentage(195/800);
				width:percentage(411/800);
				display: block;
				bottom:0;
				left:0;
				height:0;
				padding-top:percentage(185/880);
				img{
					width:100%;
					position:absolute;
					top:0;
					left:0;
					&.hover{
						transition-duration: 0.25s;
						opacity:0;
					}
				}
				&:hover .hover{
					opacity:inherit;
				}
			}
		}
		.pick{
			.center{
				background:url(../images/mobile/shape.png) no-repeat 0 0/100% auto;
				width: percentage(660/800);
				position:relative;
				margin:13% auto 1em;
				padding-top:1px;
				padding-bottom:percentage(50/800);
				border-top:2px solid #d20613;
				border-bottom :2px solid #d20613;
				h3{
					position:absolute;
					width: 100%;
					margin:percentage(-100/660) auto percentage(60/660);
					text-align: center;
					img{
						display: inline-block;
						width: percentage(260/660);
					}
				}
				>a{
					position:relative;
					text-indent: -999em;
					display: block;
					width: percentage(520/800);
					height: 0;
					padding-top:percentage(300/800);
					margin:percentage(50/800) 0 0 percentage(90/800);
					img{
						height:100%;
						position:absolute;
						top:0;
					}
				}
			}
		}
		.upload{
			// background:url(../images/mobile/upload.png) no-repeat 0 0/100% auto;
			.preview{
			    left: 0;
			    margin: 22% 0 0 10%;
			    position: absolute;
			    top: 0;
			}
			.center{
				background:url(../images/mobile/shape.png) no-repeat 0 0/100% auto;
				width: percentage(660/800);
				position:relative;
				margin:13% auto 1em;
				padding-top:percentage(915/800);
				border-top:2px solid #d20613;
				border-bottom :2px solid #d20613;
				h3{
					top:0;
					left:0;
					position:absolute;
					width: 100%;
					margin:percentage(-100/660) auto percentage(30/660);
					text-align: center;
					img{
						display: inline-block;
						width: percentage(260/660);
					}
				}
			}
			.pickvideo{
				position:absolute;
				margin:percentage(75/320) 0 0 percentage(130/320);
				top:0;
				left:0;
				width:percentage(159/880);
				img{
					position:absolute;
					width:100%;
				}
				input{
					display: block;
					height: 5em;
					margin-left: -6em;
					opacity: 0;
					z-index: 10;
				}
			}
			.text{
				position:absolute;
				margin:percentage(55/660) 0 0 percentage(181/660);
				top:0;
				left:0;
				width:percentage(305/660);
			}
			textarea{
				position:absolute;
				margin:percentage(383/660) 0 0 percentage(40/660);
				top:0;
				left:0;
				width:percentage(585/660);
				height:35%;
				resize:none;
				border:0;
				color:#fff;
				background: rgba(0,0,0,0.8);
				padding:0.2em 0.6em;
			}
			.submit{
				position:absolute;
				margin:0 0 percentage(20/880) percentage(320/880);
				bottom:percentage(20/800);
				left:0;
				width:percentage(296/880);
				padding-bottom:percentage(173/880);
				input{
					opacity:0;
				}
				img{
					position:absolute;
					top:0;
					left:0;
					width:100%;
					&.hover{
						position:absolute;
						transition-duration: 0.25s;
						opacity:0;
					}
				}
				&:hover .hover{
					opacity:inherit;
				}
			}
		}
		.list{
			// background:url(../images/mobile/list.png) no-repeat 0 0/100% auto;
			height:auto!important;
			.center{
				width: percentage(720/880);
				position:relative;
				margin:22% auto 1em;
				h3{
					margin:percentage(-110/720) auto percentage(50/720);
					width: percentage(247/720);
					img{
						width:100%;
					}
				}
			}
			.video-list{
				min-height: 400px;
				background:url(../images/mobile/shape.png) no-repeat 0 0/auto 100%;
				width: 100%;
				padding: percentage(70/660) percentage(20/660);
				margin:0 -5% 0 0%;
				list-style: none;
				border-top:2px solid #d20613;
				border-bottom :2px solid #d20613;
				li{
					padding: 25% 0 0;
					height:0;
					position:relative;
					width:25%;
					a{
						position:absolute;
						display: block;
						margin:5%;
						top:0;
						left:0;
						background:center center/ cover;
						width: 90%;
						height: 90%;
						cursor: pointer;
						&:after{
							position:absolute;
							bottom:0;
							left:0;
							content:'ï€½';
							font-family:fontawesome;
							text-align:left;
							padding-left:0.2em;
							color:rgba(255,255,255,0.6);
							width:100%;
						}
						&:before{
							position:absolute;
							bottom:0;
							left:0;
							content:'--:--:--';
							font-family:fontawesome;
							text-align:right;
							font-size:90%;
							padding-right:0.2em;
							color:rgba(255,255,255,0.6);
							width:100%;
						}
					}
				}
			}
		}
		.watch{
			// background:url(../images/mobile/watch.png) no-repeat 0 0/100% auto;
			&.alvin .center{
				background-image:url(../images/mobile/watch-alvin.png);
			}
			&.simon .center{
				background-image:url(../images/mobile/watch-simon.png);
			}
			&.sidd .center{	
				background-image:url(../images/mobile/watch-sidd.png);
			}
			.center{
				background:no-repeat 0 0/100% auto;
				width: percentage(660/800);
				position:relative;
				margin:2% auto 1em;
				padding-top:1px;
				padding-bottom:percentage(50/800);
				// border-top:2px solid #d20613;
				// border-bottom :2px solid #d20613;
				h3{
					position:absolute;
					width: 100%;
					margin:percentage(55/660) auto percentage(60/660);
					text-align: left;
					padding-left:percentage(38/800);
					img{
						display: inline-block;
						width: percentage(265/660);
					}
				}
			}
			.center{
				.author{
					margin:percentage(250/800) percentage(40/800) 0;
					width:percentage(510/800);
					padding-top:percentage(135/800);
					position:relative;
					.share-btn{
						width:percentage(63/415);
						padding-top:percentage(65/415);
						margin-top:percentage(10/415);
						position:absolute;
						display: block;
						height: 0;
						top:0;
						right:0;
						cursor:pointer;
						img{
							top:0;
							left: 0;
							width: 100%;
							position:absolute;
							display: block;
						}
					}
					.profile-pic{
						width:percentage(80/415);
						position:absolute;
						display: block;
						top:0;
						left:0;
					}
					.name{
						color:#fff;
						font-size:0.8em;
						margin:0.8em 0 0 percentage(113/415);
						position:absolute;
						top:0;
						left:0;
					}
				}
				.video-container{
					width:percentage(720/800);
					position:relative;
					padding-top:percentage(630/800);
					background:rgba(0,0,0,0.6);
					margin: 10% auto 0;
					video{
						top:0;
						left:0;
						width:100%;
						height:100%;
						position:absolute;
					}
				}
			}
		}
	}
	.fb-hint{
	    border-radius: 0.5em;
	    color: #4862a3;
	    display: block;
	    font-size: 0.6em;
	    margin: -2.2em auto;
	    position: relative;
	    text-align: center;
	    text-transform: uppercase;
	    transform: rotateZ(-5deg);
	    width: 50%;
	    word-spacing: 0.5em;
	    text-decoration: none!important;
	}
	a:hover .fb-hint{
	    text-decoration: none!important;
	}
	.copy{
	    bottom: 0;
	    color: #b52030;
	    display: block;
	    margin: 0 auto 0.5em 10%;
	    overflow: auto;
	    position: absolute;
	    text-shadow: 2px 1px 3px rgba(0, 0, 0, 0.8);
	    width: 80%;
	}
	.desktop-home{
		.copy{
			font-size: 120%;
			font-weight:bold;
		}
	}
}
@media (max-width: 992px) and (orientation:landscape) {
	.slick:after{
		background: rgba(0, 0, 0, 0.4) url(../images/no-landscape.svg) no-repeat scroll center center / 100px auto;
		content: " ";
		height: 100%;
		left: 0;
		position: fixed;
		top: 0;
		width: 100%;
	}
}