.home .wrap.fixed{
	position:fixed;
	width:100%;
	height:100%;
	top:0;
	left:0;
	font-size:14px;
	a:focus{
		outline:none;
	}
	.content{

	}
	.page-header{
		border:0;
		margin:0;
		padding:0;
	}
	.main{
		position:absolute;
		left:0;
		bottom:0;
		width:100%;
		height:100%;
	}
	.desktop-home{
		background:url(../images/index-bg.png) no-repeat 15% center/ cover;
		position:absolute;
		left:0;
		bottom:0;
		width:100%;
		height:100%;
		.logo{
			width:percentage(945/3000);
			margin-top: percentage(58/1880);
			margin-left: percentage(520/1450);
			top:0;
			left:0;
			img{
				width:100%;
			}
		}
		nav{
			position:absolute;
			left:0;
			bottom:0;
			width:100%;
			height:100%;
			a{
				display: block;
				bottom:0;
				left:0;
				img{
					position:absolute;
					top:0;
					left:0;
					width:100%;
					&.hover{
						position:relative;
						transition-duration: 0.25s;
						opacity:0;
					}
				}
				&:hover .hover{
					opacity:inherit;
				}
			}
			a.more{
				position:absolute;
				margin-bottom:percentage(75/2400);
				margin-left:percentage(144/1600);
				width:percentage(560/2400);
			}
			a.pickme{
				position:absolute;
				margin-bottom:percentage(95/2400);
				margin-left:percentage(1034/1600);
				width:percentage(560/2400);
				.qrcode{
					top:0;
					left:0;
					position:absolute;
					margin-top:percentage(-293/560);
					margin-left:percentage(103/1600);
					width:percentage(343/560);
					img{
						width:100%;
					}
				}
			}
		}
	}
	.mobile-home{
		background:url(../images/mobile/home-bg.png) no-repeat center top/ cover;
		position:absolute;
		left:0;
		bottom:0;
		width:100%;
		height:100%;
		nav{
			display: block;
			width:percentage(780/800);
			position:relative;
			height:0;
			padding-top: percentage(140/800);
			max-height: 0;
			margin: percentage(20/800) 0 0 percentage(20/800);
			background:url(../images/mobile/nav.png) no-repeat right top/ percentage(780/800) auto;
			ul{
				display: block;
				position:absolute;
				margin:0;
				padding:0;
				width:100%;
				top:0;
				letter-spacing: -1em;
				text-align: right;
				li{
					display: inline-block;
					h1{
						margin: 0;
						font-size: 1em;
						position:absolute;
					}
					a{
						text-align: left;
						letter-spacing: -1px;
						display: block;
						text-indent: -999em;
						height: 1px;
						&:hover{
							background:rgba(0,0,0,0.1);
						}
					}
					&:nth-child(1){
						width:percentage(276/800);
						a{
							padding-top:percentage(130/276);
						}
					}
					&:nth-child(2){
						width:percentage(148/800);
						a{
							padding-top:percentage(85/148);
						}
					}
					&:nth-child(3){
						width:percentage(230/800);
						a{
							padding-top:percentage(85/230);
						}
					}
					&:nth-child(4){
						width:percentage(130/800);
						a{
							padding-top:percentage(85/130);
						}
					}
				}
			}
		}
	}
	.slick{
		margin:0;
		padding:0;
		li{
			width: 100%;
			position:relative;
		}
		&.loading:after {
		    background: rgba(0, 0, 0, 0.2) url(../images/ajax-loader.gif) no-repeat scroll center center /20px 20px;
		    content: " ";
		    height: 100%;
		    left: 0;
		    position: fixed;
		    top: 0;
		    width: 100%;
		}
		.home{
			h2{
				margin:percentage(109/800) 0 0 percentage(204/800);
				width: percentage(503/800);
				img{
					width:100%;
				}
			}
			a{
				display: block;
				bottom:0;
				left:0;
				img{
					width:100%;
					&.hover{
						transition-duration: 0.25s;
						opacity:0;
						position:absolute;
						top:0;
						left:0;
					}
				}
				&:hover .hover{
					opacity:inherit;
				}
			}
			a.star{
				position:absolute;
				margin-bottom:percentage(260/800);
				margin-left:percentage(57/800);
				width:percentage(419/800);
			}
			a.fan{
				position:absolute;
				margin-bottom:percentage(56/800);
				margin-left:percentage(204/800);
				width:percentage(414/800);
			}
		}
		.download-app-tutorial{
			background:url(../images/mobile/pick.png) no-repeat 0 0/100% auto;
			padding-top: 1em * (75/14);
			.center{
				background:url(../images/mobile/download-app-tutorial-bg.png) no-repeat center top/ cover;
				margin:0 auto;
				width:percentage(660/880);
				height: 0;
				padding-top:percentage(836/880);
				position:relative;
				.google-play{
					position:absolute;
					top:0;
					left:0;
					margin:percentage(361/660) 0 0 percentage(352/660);
					width:percentage(194/660);
					img{
						width: 100%;
					}
				}
				.app-store{
					position:absolute;
					top:0;
					left:0;
					margin:percentage(450/660) 0 0 percentage(352/660);
					width:percentage(108/660);
					img{
						width: 100%;
					}
				}
				.goto-upload{
					position:absolute;
					margin:0 0 percentage(64/660) percentage(60/660);
					bottom:0;
					left:0;
					width:percentage(563/660);
					padding-bottom:percentage(173/660);
					img{
						position:absolute;
						top:0;
						left:0;
						width:100%;
						&.hover{
							position:absolute;
							transition-duration: 0.25s;
							opacity:0;
						}
					}
					&:hover .hover{
						opacity:inherit;
					}
				}
			}
		}
		.upload-video{
			padding-top: percentage(75/880);
			.center{
				background:url(../images/mobile/download-app-tutorial-bg.png) no-repeat center top/ cover;
				margin:0 auto;
				width:percentage(660/880);
				height: 0;
				padding-top:percentage(836/880);
				position:relative;
			}
		}
		.term{
			background:url(../images/mobile/term.png) no-repeat 0 0/100% auto;
		}
		.pick{
			background:url(../images/mobile/pick.png) no-repeat 0 0/100% auto;
			a{
				position:absolute;
				top:0;
				left: 0;
				// background:rgba(0,0,0,0.5);
				text-indent: -999em;
				margin-top:percentage(87/320);
				margin-left:percentage(30/320);
				display: block;
				width: percentage(262/320);
				height: 0;
				padding-top:percentage(98/320);
				&.simon{
					margin-top:percentage(200/320);
				}
				&.sidd{
					margin-top:percentage(314/320);
				}
			}
		}
		.upload{
			background:url(../images/mobile/upload.png) no-repeat 0 0/100% auto;
			.pickvideo{
				position:absolute;
				margin:percentage(125/320) 0 0 percentage(130/320);
				top:0;
				left:0;
				width:percentage(159/880);
				img{
					position:absolute;
					width:100%;
				}
				input{
					height: 100%;
					opacity: 0;
				}
			}
			textarea{
				position:absolute;
				margin:percentage(620/880) 0 0 percentage(106/880);
				top:0;
				left:0;
				width:percentage(660/880);
				height:26%;
				resize:none;
				border:0;
				color:#fff;
				background: rgba(0,0,0,0.8);
				padding:0.2em 0.6em;
			}
			.submit{
				position:absolute;
				margin:0 0 percentage(20/880) percentage(257/880);
				bottom:0;
				left:0;
				width:percentage(296/880);
				padding-bottom:percentage(173/880);
				input{
					opacity:0;
				}
				img{
					position:absolute;
					top:0;
					left:0;
					width:100%;
					&.hover{
						position:absolute;
						transition-duration: 0.25s;
						opacity:0;
					}
				}
				&:hover .hover{
					opacity:inherit;
				}
			}
		}
	}
}